html {
    scroll-behavior: smooth;
}

.header {
    padding: 0 3%;
    box-sizing: border-box;
    background-color: rgba(24, 24, 24, 0);
    transition: 0.3s;
}

.page-header {
    padding: 2% 3% 0;
    box-sizing: border-box;
    background-color: rgba(24, 24, 24, 0);
    transition: 0.3s;
}

.call-button {
    fill: #ffffff;
    transition: 0.3s;
    animation: palm 4s alternate ease-in-out infinite;
}

.hamburger .line{
    background-color: #ffffff;
}

.menu-container {
    background-color: rgba(226, 88, 34, 0);

}

.menu-list-link {
    color: var(--colorBlack);
}

.main {
    height: 100vh;
}

.main-container {
    position: relative;
    z-index: 100;
    padding: 0 5%;
    box-sizing: border-box;
}

.hero-section {
    width: 100%;
    height: 100%;
    background-color: var(--colorBlack);
    overflow: hidden;
    position: relative;
    z-index: 200;
    transition: 1s;
}

.main-text-block {
    margin: 0 auto;
    margin-bottom: 6vh;
    padding-top: 6vh;
    box-sizing: border-box;
}

.main-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main-subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.main-image-block {
    height: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
    z-index: 2000;
}

.main-image-block-fixed {
    position: fixed;
    top: 66%;
    left: 50%;
    transform: translate(-60%, -60%);
}

.main-fire {
    /* fill: #E05A26;
    opacity: 0.15; */
}

.main-fire-item {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    fill: rgb(38, 191, 220);
    opacity: 0.15;
}

.main-fire-item:nth-child(1) {
    width: 24px; 
    height: 40px;
    animation: main-fire-1 1.2s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(2) {
    width: 46px;
    height: 68px;
}

.main-fire-item:nth-child(3) {
    width: 58px;
    height: 101px;
}

.main-fire-item:nth-child(4) {
    width: 71px;
    height: 111px;
    animation: main-fire-4 3s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(5) {
    width: 86px;
    height: 130px;
    animation: main-fire-5 1.8s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(6) {
    width: 97px;
    height: 150px;
    animation: main-fire-6 2s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(7) {
    width: 108px;
    height: 178px;
    animation: main-fire-7 3s alternate ease-in-out infinite;
}

section {
    padding-top: 10vh;
    box-sizing: border-box;
    opacity: 0;
    transition: 1s;
}

.numbers-section, .promote-section {
    position: relative;
    z-index: 100;
}

.section-title {
    font-weight: 400;
    font-size: var(--font1);
    line-height: 27px;
    text-align: center;
    color: var(--colorBlack);
}

.section-text_white {
    color: #ffffff;
}

.section-text {
    font-weight: 400;
    margin-top: 2vh;
    font-size: var(--font5);
    line-height: 18px;
}

.section-text_white {
    color: #ffffff;
}

.section-text_center {
    margin: 0 auto;
    margin-top: 3vh;
    width: 80%;
}

.section-text-large {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 9px;
}

.about-text-block {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.about-svg-img {
    display: block;
    position: absolute;
    top: 90%;
    left: -40%;
    z-index: 0;
    width: 360px;
    height: 350px;
}

.about-svg-desktop {
    display: none;
}

.orange-section {
    background-color: var(--colorGrey);
    transition: 1s;
}

.numbers-section {
    margin-top: 10vh;
    padding-top: 10vh;

}

.about-numbers-block {
    text-align: center;
    padding: 0 0 10vh 0;
    box-sizing: border-box;
}

.about-numbers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3vh;
    color: #ffffff;
}

.about-number {
    width: 35%;
}

.about-number-icon {
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
}

.about-number-text {
    font-weight: 400;
    font-size: var(--font4);
}

.create-section {
    position: relative;
    text-align: center;
    padding: 10vh 0;
    box-sizing: border-box;
    overflow: hidden;
}

.create-svg {
    display: block;
    position: absolute;
    top: 30px;
    right: -25%;
    z-index: 0;
    width: 280px;
    height: 300px;
}

.create-svg-desktop {
    display: none;
}

.promote-svg-desktop {
    display: none;
}

.section-btn {
    margin-top: 4vh;
    cursor: pointer;
}

.section-btn-link {
    display: block;
}

.btn-img {
    width: 50%;
    margin-bottom: 10px;
    stroke: var(--colorBlack);
    transition: 0.8s;
}

.btn-img-white {
    width: 50%;
    margin-bottom: 10px;
    stroke: #ffffff;
    transition: 0.8s;
}

.section-btn-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;  
    width: 100%;
    margin-bottom: 10px;
    color: var(--colorBlack);
    transition: 0.8s;
}

.section-btn-text-white {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;  
    width: 100%;
    margin-bottom: 10px;
    color: #ffffff;
    transition: 0.8s;
}

.section-btn-icon {
    width: 162px;
    height: 18px;
    fill: var(--colorBlack);
    transition: 0.8s;
}

.section-btn-icon-white {
    width: 162px;
    height: 18px;
    fill: #FFFFFF;
    transition: 0.8s;
}

.promote-section {
    text-align: center;
    padding: 10vh 0;
    box-sizing: border-box;
}

.section-text-block {
    text-align: center;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 20px;
    width: 80%;
}

.section-form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form-input {
    margin-bottom: 12px;
    width: 100%;
    height: 28px;
    background: rgba(24, 24, 24, 0.3);
    border: none;
    outline: transparent;
    border-radius: 14px;
    color: rgba(24, 24, 24, 0.5);
    padding-left: 10px;
    box-sizing:border-box;
}

.checkbox-label {
    position: relative;
    width: 45%;
    height: 28px;
    border: 2px solid rgb(182, 182, 182);
    background: rgba(24, 24, 24, 0.3);
    color: rgba(24, 24, 24, 0.5);
    border-radius: 14px;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
}

/* .checkbox-label:hover {
    background: rgba(182, 182, 182, 0.5);
} */

.checkbox-input {
    position: absolute;
    opacity: 0;
    margin-bottom: 0;
}

.checkbox-label-active {
    background: rgba(38, 191, 220, 0.4);
    border: 2px solid rgb(182, 182, 182);
    color: #ffffff;
}

.checkbox-span {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
}

::placeholder {
    font-family: Comfortaa;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(24, 24, 24, 0.5);
}

.form-label-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 12px;
    margin-bottom: 25px;
}

.section-textarea {
    resize: none;
    width: 100%;
    height: 160px;
    border: none;
    background: rgba(24, 24, 24, 0.3);
    border-radius: 16px;
    color: rgba(24, 24, 24, 0.5);
    padding-left: 10px;
    padding-top: 5px;
    box-sizing:border-box;
}

.section-textarea:focus, .section-textarea:active {
    border: none;
    outline: none;
}

.section-text-small {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.section-text-link {
    color: var(--colorOrange);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.section-form-btn {
    margin: 0 auto;
    margin-top: 20px;
    font-family: Comfortaa;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--colorBlack);
}



@keyframes main-fire-4 {
    0% {
        width: 71px;
        height: 111px;
    }

    100% {
        width: 91px;
        height: 121px;

    }
}

@keyframes main-fire-5 {
    0% {
        width: 86px;
        height: 130px;
    }

    100% {
        width: 106px;
        height: 145px;

    }
}

@keyframes main-fire-6 {
    0% {
        width: 97px;
        height: 150px;
    }

    100% {
        width: 110px;
        height: 175px;

    }
}

@keyframes main-fire-7 {
    0% {
        width: 108px;
        height: 178px;
    }

    100% {
        width: 130px;
        height: 195px;

    }
}

@keyframes palm {
    0% {
        transform-origin: 70% bottom;
        transform: rotate(40deg);
    }

    7% {
        transform-origin: 70% bottom;
        transform: rotate(0deg);

    }

    14% {
        transform-origin: 70% bottom;
        transform: rotate(40deg);
    }

    20% {
        transform-origin: 70% bottom;
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(0deg);

    }

}



/* for 5/SE portrait */
@media all and (max-width: 320px) {
   
    .main-image-block {
        display: none;
    }

    .about-svg-img {
        left: -40%;
        width: 260px;
        height: 250px;
    }

    .about-number {
        width: 38%;
    }

    .checkbox-label {
        position: relative;
        width: 48%;
    }

    .section-textarea {
        height: 120px;
    }

    .section-text-block {
        width: 85%;
        margin-bottom: 40px;
    }

    .section-text-small, 
    .section-text-link {
        font-size: 12px;
    }
}

/* for Galaxy S8, SE, 6/7/8 and 6,7,8 Plus portrait */
@media all and (min-width: 359px) and (max-width: 416px) and (min-height:666px) and (max-height: 741px) {
    
    .main-text-block {
        margin-bottom: 0;
        padding-top: 2vh;
    }

    .main-title {
        margin-bottom: 10px;
    }
}

/* for 12 Pro, Galaxy S20, XR portrait */
@media all and (min-width: 389px) and (max-width: 415px){
    
    .section-title {
        line-height: 38px;
    }

    .section-text {
        line-height: 20px;
    }

    .section-btn-text {
        font-size: 20px;
        line-height: 28px;
    }
}

/* for tablet iPad, iPad mini portrait */
@media all and (min-width: 767px) and (max-width: 991px) {
    
    .header {
        padding: 0 4%;
    }

    .header-container {
        height: 100px;
    }

    .call-container {
        width: 50px;
        height: 50px;
    }

    .menu-container {
        top: 100px;
    }

    .menu-list-link {
        font-size: 28px;
        line-height: 32px;
    }

    .main-title {
        font-size: 60px;
        line-height: 68px;
        margin-bottom: 10px;
    }

    .main-subtitle {
        font-size: 24px;
        line-height: 28px;
    }

    .main-text-block {
        width: 87%;
        padding-top: 14vh;
        margin-bottom: 10vh;
    }

    .main-text {
        font-size: 26px;
        line-height: 32px;
    }


    .main-fire-item:nth-child(1) {
        width: 33px; 
        height: 51px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 60px;
        height: 87px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 76px;
        height: 128px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 93px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 112px;
        height: 165px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 189px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 140px;
        height: 224px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .main-container {
        padding: 0 4%;
    }

    .section-title {
        line-height: 54px;
    }

    .section-text {
        line-height: 24px;
    }

    .about-svg-img {
        left: -25%;
        width: 460px;
        height: 450px;
    }

    .about-numbers {
        gap: 0;
        justify-content: space-between;
        margin-top: 6vh;
    }

    .about-number {
        width: 24%;
    }

    .about-number-icon {
        font-size: 60px;
        line-height: 65px;
    }

    .about-number-text {
        line-height: 24px;
    }

    .create-svg {
        top: 40px;
        right: -15%;
        width: 400px;
        height: 420px;
    }

    .section-text_center {
        width: 55%;
    }

    .section-btn-text {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .section-text-large {
        font-size: 24px;
        line-height: 28px;
    }

    .form-input {
        margin-bottom: 14px;
        height: 38px;
        border-radius: 19px;
        padding-left: 12px;
    }

    .form-label-block {
        margin-top: 0;
    }

    .checkbox-label {
        height: 38px;
        border-radius: 19px;
    }

    .checkbox-span {
        line-height: 38px;
    }

    .section-text-block {
        margin-bottom: 40px;
        width: 60%;
    }

    .section-text-small, .section-text-link {
        font-size: 16px;
        line-height: 18px;
    }



    @keyframes main-fire-4 {
        0% {
            width: 93px;
            height: 141px;
        }
    
        100% {
            width: 113px;
            height: 151px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 112px;
            height: 165px;
        }
    
        100% {
            width: 125px;
            height: 185px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 189px;
        }
    
        100% {
            width: 140px;
            height: 199px;
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 140px;
            height: 224px;
        }
    
        100% {
            width: 155px;
            height: 245px;
        }
    }
}

/* for tablet iPad Pro portrait */
@media all and (min-width: 992px) and (max-width: 1199px) {
   
    .header {
        padding: 0 4%;
    }

    .header-container {
        height: 120px;
    }

    .call-container {
        width: 50px;
        height: 50px;
    }

    .logo-mob {
        width: 65px;
        height: 65px;
    }

    .menu-btn-container {
        width: 60px;
        height: 60px;
    }

    .menu-container {
        top: 120px;
    }

    .menu-list {
        gap: 20px;
        top: 40%;
    }

    .menu-list-item {
        height: 50px;
    }

    .menu-list-link {
        font-size: 32px;
        line-height: 36px;
    }

    .main-text-block {
        width: 80%;
        padding-top: 16vh;
    }

    .main-title {
        font-size: 70px;
        line-height: 75px;
    }

    .main-subtitle {
        font-size: 26px;
        line-height: 30px;
    }

    .main-text {
        font-size: 30px;
        line-height: 36px;
    }

    .main-image-block {
        height: 300px;
    }

    .main-fire-item:nth-child(1) {
        width: 33px; 
        height: 51px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 60px;
        height: 87px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 76px;
        height: 128px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 93px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 112px;
        height: 165px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 189px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 140px;
        height: 224px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .section-title {
        line-height: 52px;
    }

    .section-text {
        line-height: 26px;
    }

    .about-svg-img {
        left: -20%;
        width: 480px;
        height: 470px;
    }

    .about-text-block > .main-container {
        padding: 0 10%;
    }

    .about-numbers {
        justify-content: space-between;
        gap: 0;
        flex-wrap: wrap;
        margin-top: 5vh;
    }

    .about-number {
        width: 25%;
    }

    .about-number-icon {
        font-size: 60px;
        line-height: 67px;
    }

    .section-btn-text {
        font-size: 24px;
        line-height: 11px;
        margin-bottom: 20px;
    }

    .section-text_center {
        width: 56%;
    }

    .section-text-large {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 18px;
    }
    .form-input {
        margin-bottom: 14px;
        height: 38px;
        border-radius: 19px;
        padding-left: 12px;
    }

    .form-label-block {
        margin-top: 0;
    }

    .checkbox-label {
        height: 38px;
        border-radius: 19px;
    }

    .checkbox-span {
        line-height: 38px;
        font-size: 18px;
    }

    .section-textarea {
        margin-bottom: 30px;
    }

    .section-form-btn {
        width: 70%;
    }

    .section-text-block {
        margin-bottom: 40px;
        width: 60%;
    }

    .section-text-small, .section-text-link {
        font-size: 16px;
        line-height: 18px;
    }


    @keyframes main-fire-4 {
        0% {
            width: 93px;
            height: 141px;
        }
    
        100% {
            width: 113px;
            height: 151px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 112px;
            height: 165px;
        }
    
        100% {
            width: 125px;
            height: 185px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 189px;
        }
    
        100% {
            width: 140px;
            height: 199px;
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 140px;
            height: 224px;
        }
    
        100% {
            width: 155px;
            height: 245px;
        }
    }
}

/* main landscape */
@media all and (orientation: landscape) {
    
    .main-image-block, .about-svg-img, .create-svg {
        display: none;
    }

    .header {
        padding: 0 2%;
    }

    .header-container {
        height: 80px;
    }

    .menu-container {
        top: 80px;
    }

    .menu-list {
        top: 40%;
    }

    .main-title {
        font-size: 50px;
        line-height: 58px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 26px;
        margin-bottom: 15px;
    }

    .main-text {
        font-size: 24px;
        line-height: 28px;
    }

    section {
        padding-top: 8vh;
    }

    .section-title {
        line-height: 44px;
    }

    .section-text {
        line-height: 24px;
        margin-top: 10px;
    }

    .about-number-icon {
        font-size: 50px;
        line-height: 55px;
    }

    .about-numbers {
        margin-top: 40px;
    }

    .section-text {
        line-height: 22px;
        margin-top: 30px;
    }

    .section-btn-text {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .section-btn-text-white {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
}

/* for 5/SE landscape */
@media all and (orientation: landscape) and (max-height: 361px) {
    
    .header {
        padding: 0 3%;
    }

    .header-container {
        height: 60px;
    }

    .menu-container {
        top: 60px;
    }

    .menu-list {
        gap: 20px;
    }

    .main-text-block {
        padding-top: 60px;
    }

    .main-title {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 0;
    }

    .main-subtitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    .main-text {
        font-size: 22px;
        line-height: 26px;
    }

    .section-title {
        line-height: 38px;
    }

    .section-text {
        line-height: 20px;
        margin-top: 18px;
        margin-bottom: 10px;
    }

    .section-btn-text {
        font-size: 20px;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .section-text-block {
        margin-top: 18px;
        width: 90%;
    }

    .form-input, .checkbox-label {
        height: 32px;
        border-radius: 16px;
    }

    .checkbox-span {
        line-height: 32px;
    }

}

/* for tablet iPad, iPad mini landscape */
@media all and (orientation: landscape) and (min-height: 768px) and (max-height: 1023px) {
    
    .main-image-block, .about-svg-img, .create-svg {
        display: block;
    }

    .main-text-block {
        width: 85%;
        padding-top: 16vh;
        margin-bottom: 0;
    }

    .main-title {
        font-size: 60px;
        line-height: 68px;
    }

    .main-subtitle {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .main-text {
        font-size: 26px;
        line-height: 30px;
    }

    .main-image-block {
        height: 270px;
    }

    .create-svg {
        top: 15px;
        right: -13%;
        width: 400px;
        height: 420px;
    }
}

/* for tablet iPad Pro landscape */
@media all and (min-width: 1200px) and (max-width: 1367px) {
    
    .main-image-block, .about-svg-img, .create-svg {
        display: block;
    }

    .header {
        padding: 0 3%;
    }

    .header-container {
        height: 100px;
    }

    .call-container {
        width: 50px;
        height: 50px;
    }

    .logo-mob {
        width: 65px;
        height: 65px;
    }

    .menu-container {
        top: 100px;
    }

    .menu-list {
        gap: 20px;
    }

    .menu-list-item {
        height: 50px;
    }

    .menu-list-link {
        font-size: 32px;
        line-height: 38px;
    }

    .main-title {
        font-size: 80px;
        line-height: 85px;
    }

    .main-subtitle {
        font-size: 28px;
        line-height: 31px;
        margin-bottom: 25px;
    }

    .main-text {
        font-size: 36px;
        line-height: 40px;
    }

    .main-text-block {
        padding-top: 16vh;
        width: 100%;
    }

    .main-image-block {
        height: 270px;
    }

    .main-fire-item:nth-child(1) {
        width: 33px; 
        height: 51px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 60px;
        height: 87px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 76px;
        height: 128px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 93px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 112px;
        height: 165px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 189px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 140px;
        height: 224px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    section {
        padding-top: 10vh;
    }

    .section-title {
        line-height: 54px;
    }

    .section-text {
        line-height: 25px;
    }

    .main-container {
        padding: 0 20%;
    }

    .about-numbers {
        justify-content: space-between;
        gap: 0;
        margin: 0 auto;
        margin-top: 6vh;
        width: 100%;
    }

    .about-number {
        width: 20%;
    }

    .about-number-icon {
        font-size: 60px;
        line-height: 65px;
    }

    .about-number-text {
        line-height: 27px;
    }

    .section-text_center {
        margin-top: 6vh;
        font-size: 28px;
        line-height: 32px;
        width: 60%;
    }

    .section-btn-text {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .section-text-block {
        margin-top: 22px;
        margin-bottom: 30px;
    }

    .section-text-large {
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 20px;
    }

    .form-input, .checkbox-label {
        margin-bottom: 20px;
        height: 48px;
        border-radius: 24px;
        padding-left: 15px;
    }

    .checkbox-span {
        line-height: 48px;
    }

    .section-text-block {
        width: 60%;
        margin-bottom: 60px;
    }

    .section-text-small, .section-text-link {
        font-size: 16px;
        line-height: 18px;
    }


    @keyframes main-fire-4 {
        0% {
            width: 93px;
            height: 141px;
        }
    
        100% {
            width: 113px;
            height: 151px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 112px;
            height: 165px;
        }
    
        100% {
            width: 125px;
            height: 185px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 189px;
        }
    
        100% {
            width: 140px;
            height: 199px;
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 140px;
            height: 224px;
        }
    
        100% {
            width: 155px;
            height: 245px;
        }
    }
}

/* for desktop */
@media all and (min-width: 1368px) and (max-width: 1590px) {

    .header {
        display: none;
    }

    .logo-link {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    .logo-text {
        display: block;
        font-size: 60px;
        line-height: 67px;
    }

    .menu-btn-container {
        display: none;
    }

    .menu-container {
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
        z-index: 990;
        opacity: 0;
        transition: 0.3s;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: auto;
    }

    .menu-list-item {
        height: auto;
    }

    .menu-list-link {
        display: block;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        transition: 0.5s;
        color: var(--colorBlack);
        opacity: 0.5;
    }

    .menu-active {
        opacity: 1;
    }

    section {
        opacity: 1;
    }

    .hero-section > .main-container {
        width: 933px;
    }

    .orange-section {
        background-color: #DDDDDD;
    }

    .about-section,
    .promote-section,
    .contact-section {
        padding: 14vh 0 0 0;
    }

    .about-section {
        overflow: hidden;
        position: relative;
    }

    .numbers-section {
        margin-top: 14vh;
        padding-top: 14vh;
        z-index: 10;
    }

    .create-section {
        padding: 14vh 0 14vh 0;
    }

    .promote-section {
        overflow: hidden;
        padding-bottom: 14vh;
    }

    .main-container {
        padding: 0;
        margin: 0 auto;
        width: 800px;
    }
    
    .main-image-block, .about-svg-img, .create-svg {
        display: block;
    }

    .main-text-block {
        padding-top: 8vh;
        margin-bottom: 2vh;
        width: 67%;
    }

    .main-title {
        font-size: 60px;
        line-height: 69px;
        margin-bottom: 20px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 35px;
    }

    .main-text {
        font-size: 26px;
        line-height: 34px;
    }

    .call-container {
        display: none;
    }

    .main-image-block {
        height: 230px;
    }

    .section-title {
        margin-bottom: 42px;
    }

    .section-text_white {
        color: var(--colorBlack);
    }

    .about-svg-desktop {
        display: block;
        position: absolute;
        top: 8%;
        right: 0;
        z-index: 100;
        width: 618px;
        height: 883px;
        stroke: #888888;
    }

    .about-svg-img {
        display: none;
    }

    .about-numbers-block {
        padding: 0 0 14vh 0;
    }

    .about-numbers {
        gap: 0;
        margin-top: 60px;
    }

    .about-number {
        width: 25%;
        color: var(--colorBlack);
    }

    .section-btn {
        margin-top: 40px;
    }

    .btn-img-white {
        stroke: var(--colorBlack);
    }

    .section-icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 200px;
        height: 25px;
    }

    .section-btn-icon {
        fill: var(--colorBlack);
    }

    .section-btn-icon-white {
        fill: var(--colorBlack);
    }

    .section-btn-text-white {
        color: var(--colorBlack);
    }

    .section-btn:hover .section-btn-text, .section-btn:hover .section-btn-text-white, .section-btn:hover .btn-img, .section-btn:hover .btn-img-white {
        color: #616161;
        stroke: #26BFDC;
    }

    .section-btn:hover .section-btn-icon, .section-btn:hover .section-btn-icon-white {
        fill: #26BFDC;
        width: 185px;
        height: 23px;
    }

    .main-fire-item:nth-child(1) {
        width: 33px; 
        height: 51px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 60px;
        height: 87px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 76px;
        height: 128px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 93px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 112px;
        height: 165px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 189px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 140px;
        height: 224px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .create-svg-desktop {
        display: block;
        position: absolute;
        top: 60%;
        left: -5%;
        z-index: 0;
        width: 460px;
        height: 550px;
    }

    .create-svg {
        display: none;
    }

    .promote-svg-desktop {
        display: block;
        position: absolute;
        top: 10%;
        right: -5%;
        z-index: 0;
        width: 400px;
        height: 400px;
    }

    .lighter-fire-1,
    .lighter-fire-2,
    .lighter-fire-3,
    .lighter-fire-4,
    .lighter-fire-5,
    .lighter-fire-6,
    .lighter-fire-7 {
        opacity: 0.15;
    }

    .lighter-fire-1 {
        animation: lighter-fire 0.8s alternate ease-in-out infinite;
    }

    .lighter-fire-2 {
        animation: lighter-fire 1.3s alternate ease-in-out infinite;
    }

    .lighter-fire-3 {
        animation: lighter-fire 1.8s alternate ease-in-out infinite;
    }

    .lighter-fire-4 {
        animation: lighter-fire 2.3s alternate ease-in-out infinite;
    }

    .lighter-fire-5 {
        animation: lighter-fire 2.8s alternate ease-in-out infinite;
    }

    .lighter-fire-6 {
        animation: lighter-fire 3.3s alternate ease-in-out infinite;
    }

    .lighter-fire-7 {
        animation: lighter-fire 3.8s alternate ease-in-out infinite;
    }

    .section-form {
        justify-content: space-between;
    }

    .form-input {
        width: 47%;
        height: 40px;
        border-radius: 20px;
    }

    .checkbox-label {
        height: 40px;
        width: 47%;
        line-height: 38px;
        border-radius: 20px;
    }


    @keyframes main-fire-4 {
        0% {
            width: 93px;
            height: 141px;
        }
    
        100% {
            width: 113px;
            height: 151px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 112px;
            height: 165px;
        }
    
        100% {
            width: 125px;
            height: 185px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 189px;
        }
    
        100% {
            width: 140px;
            height: 199px;
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 140px;
            height: 224px;
        }
    
        100% {
            width: 155px;
            height: 245px;
        }
    }


    @keyframes lighter-fire {
        0% {
            opacity: 0.04;
        }
    
        100% {
            opacity: 0.15;
        }
    }
}

/* for desktop */
@media all and (min-width: 1591px) {

    .header {
        display: none;
    }

    .header-container {
        height: 100px;
    }

    .logo-link {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    .logo-text {
        display: block;
        font-size: 60px;
        line-height: 67px;
    }

    .menu-btn-container {
        display: none;
    }

    .menu-container {
        display: block;
        position: relative;
        top: 0;
        width: 100%;
        height: auto;
        left: 0;
        z-index: 990;
        opacity: 0;
        transition: 0.3s;
    }

    .menu-list {
        display: flex;
        flex-direction: row;
        gap: 10px;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        width: auto;
    }

    .menu-list-item {
        height: auto;
    }

    .menu-list-link {
        display: block;
        width: 100%;
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        transition: 0.5s;
        color: var(--colorBlack);
        opacity: 0.5;
    }

    .menu-active {
        opacity: 1;
    }

    section {
        opacity: 1;
    }

    .hero-section > .main-container {
        width: 933px;
    }

    .orange-section {
        background-color: #DDDDDD;
    }

    .about-section,
    .promote-section,
    .contact-section {
        padding: 14vh 0 0 0;
    }

    .about-section {
        overflow: hidden;
        position: relative;
    }

    .numbers-section {
        margin-top: 14vh;
        padding-top: 14vh;
        z-index: 10;
    }

    .create-section {
        padding: 14vh 0 14vh 0;
    }

    .promote-section {
        overflow: hidden;
        padding-bottom: 14vh;
    }

    .main-container {
        padding: 0;
        margin: 0 auto;
        width: 800px;
    }
    
    .main-image-block, .about-svg-img, .create-svg {
        display: block;
    }

    .main-text-block {
        padding-top: 16vh;
        margin-bottom: 2vh;
        width: 67%;
    }

    .main-title {
        font-size: 60px;
        line-height: 69px;
        margin-bottom: 20px;
    }

    .main-subtitle {
        font-size: 22px;
        line-height: 25px;
        margin-bottom: 35px;
    }

    .main-text {
        font-size: 26px;
        line-height: 34px;
    }

    .call-container {
        display: none;
    }

    .main-image-block {
        height: 300px;
    }

    .section-title {
        margin-bottom: 42px;
    }

    .section-text_white {
        color: var(--colorBlack);
    }

    .about-svg-desktop {
        display: block;
        position: absolute;
        top: 10%;
        right: -4%;
        z-index: 100;
        width: 718px;
        height: 883px;
        stroke: #888888;
    }

    .about-svg-img {
        display: none;
    }

    .about-numbers-block {
        padding: 0 0 14vh 0;
    }

    .about-numbers {
        gap: 0;
        margin-top: 60px;
    }

    .about-number {
        width: 25%;
        color: var(--colorBlack);
    }

    .section-btn {
        margin-top: 40px;
    }

    .btn-img-white {
        stroke: var(--colorBlack);
    }

    .section-icon-block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 200px;
        height: 25px;
    }

    .section-btn-icon {
        fill: var(--colorBlack);
    }

    .section-btn-icon-white {
        fill: var(--colorBlack);
    }

    .section-btn-text-white {
        color: var(--colorBlack);
    }

    .section-btn:hover .section-btn-text, .section-btn:hover .section-btn-text-white, .section-btn:hover .btn-img, .section-btn:hover .btn-img-white {
        color: #616161;
        stroke: #26BFDC;
    }

    .section-btn:hover .section-btn-icon, .section-btn:hover .section-btn-icon-white {
        fill: #26BFDC;
        width: 185px;
        height: 23px;
    }

    .main-fire-item:nth-child(1) {
        width: 33px; 
        height: 51px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 60px;
        height: 87px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 76px;
        height: 128px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 93px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 112px;
        height: 165px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 189px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 140px;
        height: 224px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .section-text-large {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 20px;
    }

    .create-svg-desktop {
        display: block;
        position: absolute;
        top: 60%;
        left: -13%;
        z-index: 0;
        width: 760px;
        height: 750px;
        stroke: #888888;
    }

    .create-svg {
        display: none;
    }

    .promote-svg-desktop {
        display: block;
        position: absolute;
        top: 10%;
        right: -2%;
        z-index: 0;
        width: 530px;
        height: 530px;
    }

    .lighter-fire-1,
    .lighter-fire-2,
    .lighter-fire-3,
    .lighter-fire-4,
    .lighter-fire-5,
    .lighter-fire-6,
    .lighter-fire-7 {
        opacity: 0.15;
    }

    .lighter-fire-1 {
        animation: lighter-fire 0.8s alternate ease-in-out infinite;
    }

    .lighter-fire-2 {
        animation: lighter-fire 1.3s alternate ease-in-out infinite;
    }

    .lighter-fire-3 {
        animation: lighter-fire 1.8s alternate ease-in-out infinite;
    }

    .lighter-fire-4 {
        animation: lighter-fire 2.3s alternate ease-in-out infinite;
    }

    .lighter-fire-5 {
        animation: lighter-fire 2.8s alternate ease-in-out infinite;
    }

    .lighter-fire-6 {
        animation: lighter-fire 3.3s alternate ease-in-out infinite;
    }

    .lighter-fire-7 {
        animation: lighter-fire 3.8s alternate ease-in-out infinite;
    }

    .section-form {
        justify-content: space-between;
    }

    .form-input {
        width: 47%;
        height: 40px;
        border-radius: 20px;
    }

    .checkbox-label {
        height: 40px;
        width: 47%;
        line-height: 38px;
        border-radius: 20px;
    }



    @keyframes main-fire-4 {
        0% {
            width: 93px;
            height: 141px;
        }
    
        100% {
            width: 113px;
            height: 151px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 112px;
            height: 165px;
        }
    
        100% {
            width: 125px;
            height: 185px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 189px;
        }
    
        100% {
            width: 140px;
            height: 199px;
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 140px;
            height: 224px;
        }
    
        100% {
            width: 155px;
            height: 245px;
        }
    }

    @keyframes lighter-fire {
        0% {
            opacity: 0.04;
        }
    
        100% {
            opacity: 0.15;
        }
    }

}

