@media (min-width: 768px) and (min-height: 768px) {

    .menu-container {
        top: 110px;
    }

    .menu-list {
        gap: 40px;
    }

    .menu-list-link {
        font-size: 26px;
        line-height: 30px;
    }

    .main-container {
        padding: 0 7%;
    }

    .logo-link {
        order: -1;
        display: flex;
        align-items: flex-end;
    }

    .logo-text {
        display: block;
        font-size: 48px;
        line-height: 54px;
        color: var(--colorBlack);
    }

    .logo-mob {
        margin-left: 20px;
    }

    .call-container {
        margin-left: auto;
        margin-right: 7%;
    }

    .main-text-block {
        width: 80%;
        padding-top: 15vh;
    }

    .main-title {
        font-size: 60px;
        line-height: 67px;
    }

    .main-subtitle {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 40px;
    }

    .main-text {
        font-size: 24px;
        line-height: 28px;
    }

    .main-image-block {
        height: 270px;
    }

    .main-fire-item:nth-child(1) {
        width: 54px; 
        height: 70px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 76px;
        height: 98px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 88px;
        height: 131px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 101px;
        height: 141px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 116px;
        height: 160px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 127px;
        height: 180px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 138px;
        height: 208px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .section-title {
        line-height: 52px;
    }

    .about-svg-img {
        left: -8%;
        width: 190px;
        height: 320px;
    }

    .about-numbers {
        gap: 60px;
        margin-top: 6vh;
    }

    .about-number {
        width: 40%;
    }

    .about-number-icon {
        font-size: 55px;
        line-height: 60px;
    }

    .create-svg {
        top: 20%;
        right: -3%;
        width: 176px;
        height: 351px;
    }

    .section-btn-text {
        font-size: 22px;
        line-height: 26px;
    }

    .section-text-large {
        font-size: 22px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .form-input {
        margin-bottom: 18px;
        width: 100%;
        height: 48px;
        background: rgba(24, 24, 24, 0.3);
        border: none;
        outline: transparent;
        border-radius: 24px;
        color: rgba(24, 24, 24, 0.5);
        padding-left: 3%;
        box-sizing: border-box;
    }

    ::placeholder {
        font-size: 18px;
        line-height: 20px;
    }

    .checkbox-label {
        height: 48px;
        border-radius: 24px;
    }

    .checkbox-span {
        font-size: 18px;
        line-height: 48px;
    }

    .section-text-block {
        margin-top: 22px;
        width: 55%;
    }



    @keyframes main-fire-4 {
        0% {
            width: 101px;
            height: 141px;
        }
    
        100% {
            width: 120px;
            height: 150px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 116px;
            height: 160px;
        }
    
        100% {
            width: 135px;
            height: 175px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 127px;
            height: 180px;
        }
    
        100% {
            width: 140px;
            height: 205px;
    
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 138px;
            height: 208px;
        }
    
        100% {
            width: 160px;
            height: 225px;
    
        }
    }


}

@media (min-height: 768px) {
    
    .main-container {
        padding: 0 13%;
    }

    .main-text-block {
        padding-top: 10vh;
        margin-bottom: 3vh;
    }

    .create-svg {
        top: 10%;
    }

    .section-form-btn {
        width: 100%;
        margin-top: 40px;
    }

    .section-text-block {
        width: 45%;
    }
    
}

@media (min-width: 1024px) and (min-height: 1366px) {

    .header-container {
        height: 120px;
    }

    .menu-container {
        top: 130px;
    }

    .call-container {
        width: 50px;
        height: 50px;
    }

    .main-title {
        font-size: 80px;
        line-height: 87px;
    }

    .main-subtitle {
        font-size: 36px;
        line-height: 40px;
        margin-bottom: 50px;
    }

    .main-text-block {
        padding-top: 12vh;
        margin-bottom: 6vh;
    }

    .main-image-block {
        height: 300px;
    }

    .main-text {
        font-size: 30px;
        line-height: 34px;
    }

    .main-fire-item:nth-child(1) {
        width: 74px; 
        height: 90px;
        animation: main-fire-1 1.2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(2) {
        width: 96px;
        height: 118px;
    }
    
    .main-fire-item:nth-child(3) {
        width: 108px;
        height: 151px;
    }
    
    .main-fire-item:nth-child(4) {
        width: 121px;
        height: 161px;
        animation: main-fire-4 3s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(5) {
        width: 136px;
        height: 180px;
        animation: main-fire-5 1.8s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(6) {
        width: 147px;
        height: 200px;
        animation: main-fire-6 2s alternate ease-in-out infinite;
    }
    
    .main-fire-item:nth-child(7) {
        width: 158px;
        height: 228px;
        animation: main-fire-7 3s alternate ease-in-out infinite;
    }

    .about-svg-img {
        width: 290px;
        height: 420px;
    }

    .about-number-icon {
        font-size: 65px;
        line-height: 70px;
    }

    .about-number-text {
        font-size: var(--font4);
    }

    .create-svg {
        line-height: 24px;
    }

    .section-btn-text {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    .section-text-large {
        margin-bottom: 24px;
    }

    .section-text-block {
        width: 55%;
    }

    .section-text-small {
        font-size: 18px;
        line-height: 20px;
    }

    .form-label-block {
        margin-top: 22px;
        margin-bottom: 45px;
    }

    @keyframes main-fire-4 {
        0% {
            width: 121px;
            height: 161px;
        }
    
        100% {
            width: 140px;
            height: 170px;
        }
    }
    
    @keyframes main-fire-5 {
        0% {
            width: 136px;
            height: 180px;
        }
    
        100% {
            width: 155px;
            height: 195px;
        }
    }
    
    @keyframes main-fire-6 {
        0% {
            width: 147px;
            height: 200px;
        }
    
        100% {
            width: 160px;
            height: 225px;
    
        }
    }
    
    @keyframes main-fire-7 {
        0% {
            width: 158px;
            height: 228px;
        }
    
        100% {
            width: 180px;
            height: 245px;
    
        }
    }

}