@font-face {
    font-family: Comfortaa;
    src: url(../assets/fonts/Comfortaa-VariableFont_wght.ttf);
    font-style: normal;
    font-weight: 300;
}

:root {
    --font1: 24px;
    --font2: 18px;
    --font3: 20px;
    --font4: 16px;
    --font5: 14px;
    --font6: 12px;
    /* --colorOrange: #181818; */
    /* --colorOrange: #E25822; */
    --colorBlack: #181818;
    --colorOrange: #26BFDC;
    --colorGrey: #9b9b9b;

    ;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: Comfortaa;
}

.main-body {
    background-color: #000000;
    overflow: hidden;
}


h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    font-family: Comfortaa;
    border: none;
    background: transparent;
}

.header {
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1000;
}

.logo-link {
    opacity: 0;
}

.logo-text {
    display: none;
}

.logo-mob {
    width: 65px;
    height: 65px;
    transition: 0.3s;
    /* fill:#E25822;
    animation: fire 3.5s alternate ease-in-out infinite; */
}

.call-container {
    width: 40px;
    height: 40px;
}

.call-button {
    width: 100%;
}

.menu-btn-container {
    display: block;
    padding: 0;
    width: 50px;
    height: 50px;

}

.menu-btn {
    display: block;
}

.hamburger .line{
    width: 100%;
    height: 5px;
    display: block;
    margin: 8px auto;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}


#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger-6.is-active .line:nth-child(2){
    width: 0px;
}
  
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}
  
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}


.menu-container {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 990;
    transition: 0.3s;

}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.menu-list-item {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.menu-list-link {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 120%;
    transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    transition: 0.5s;
}

form input {
    outline: transparent;
    border: none;
}



@media all and (min-width: 320px) and (max-width: 374px) {
    :root {
        --font2: 15px;
        --font5: 12px;
    }

}


@media all and (min-width: 414px) and (max-width: 567px) {
    :root {
        --font2: 18px;
        --font5: 16px;
    }
}



@media all and (min-width: 568px) {
    :root {
        --font2: 20px;
        --font3: 28px;
        --font4: 18px;
        --font6: 14px;
    }
}

@media all and (min-width: 768px) {
    :root {
        --font1: 48px;
        --font2: 20px;
        --font3: 28px;
        --font4: 20px;
        --font5: 18px;
        --font6: 16px;
    }
}


@media all and (min-width: 1024px) {
    :root {
        --font1: 48px;
        --font2: 20px;
        --font3: 28px;
        --font4: 20px;
        --font5: 20px;
        --font6: 16px;
    }
}

@media all and (min-width: 1024px) and (min-height: 1366px) {
    :root {
        --font5: 22px;
    }
}

@media all and (min-width: 1366px) and (min-height: 1024px) {
    :root {
        --font5: 24px;
    }
}

@media all and (min-width: 1400px) {
    :root {
        --font2: 18px;
        --font5: 18px;
    }
}

@media all and (min-width: 1500px) {
    :root {
        --font2: 28px;
        --font5: 28px;
    }
}