.header {
    padding: 0 3%;
    box-sizing: border-box;
}

.header-container {
    height: 60px;
}

.call-button {
    fill: var(--colorBlack);
    transition: 0.3s;
    animation: palm 4s alternate ease-in-out infinite;
}

.hamburger .line{
    background-color: var(--colorBlack);
}

.menu-container {
    background-color: rgba(255, 255, 255, 0);
}

.menu-list-link {
    color: var(--colorBlack);
}

.main {
    height: 100vh;
}

.main-container {
    position: relative;
    z-index: 100;
    padding: 0 5%;
    box-sizing: border-box;
}

.logo-link {
    opacity: 1;
}

.logo-mob {
    width: 55px;
    height: 55px;
}

section {
    padding-top: 13vh;
    box-sizing: border-box;
    transition: 1s;
}

.about-section {
    overflow: hidden;
    min-height: 100%;
}

.numbers-section, .promote-section {
    position: relative;
    z-index: 100;
}

.section-title {
    font-weight: 300;
    font-size: var(--font1);
    line-height: 27px;
    text-align: center;
    color: var(--colorBlack);
}

.section-title_white {
    color: #ffffff;
}

.section-text {
    margin-top: 2vh;
    font-size: var(--font5);
}

.section-text_white {
    color: #ffffff;
}

.section-text_center {
    margin: 0 auto;
    margin-top: 3vh;
    width: 80%;
}

.section-text-large {
    width: 100%;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    margin-bottom: 9px;
}

.about-text-block {
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.about-svg-img {
    position: absolute;
    top: 50%;
    right: -20%;
    z-index: 0;
    width: 170px;
    height: 290px;
    animation: baloon 15s alternate ease-in-out infinite;
}

.numbers-section {
    padding-top: 7vh;
}

.about-numbers-block {
    text-align: center;
    box-sizing: border-box;
}

.about-numbers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3vh;
    color: var(--colorBlack);
}

.about-number {
    width: 35%;
}

.about-number-icon {
    font-size: 40px;
    line-height: 45px;
}

.about-number-text {
    font-size: var(--font4);
}

@keyframes baloon {
    0% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0px);

    }
}

@keyframes palm {
    0% {
        transform-origin: 70% bottom;
        transform: rotate(40deg);
    }

    7% {
        transform-origin: 70% bottom;
        transform: rotate(0deg);

    }

    14% {
        transform-origin: 70% bottom;
        transform: rotate(40deg);
    }

    20% {
        transform-origin: 70% bottom;
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(0deg);

    }

}

@media (max-width: 321px) {

    .numbers-section {
        padding-top: 4vh;
    }

    .about-numbers {
        gap: 20px;
    }

    .about-number-icon {
        font-size: 35px;
        line-height: 40px;
    }

    .about-number-text {
        font-size: 14px;
    }
}

@media (max-width: 569px) and (max-height: 321px) {

    .main-container {
        padding: 0 10%;
    }

    .about-svg-img {
        display: none;
    }

    .menu-list {
        gap: 12px;
    }

    section {
        padding-top: 90px;
    }
}

@media (max-height: 668px) {

}

@media (max-height: 415px) {

    .about-svg-img {
        right: -10%;
    }

    .about-section{
        padding: 90px 0 20px 0;
    }

    .main-container {
        padding: 0 10%;
    }

    .about-numbers {
        gap: 40px;
        margin-top: 40px;
    }
}