body {
    /* background-color: #181818; */
}

.header {
    background-color: rgba(24, 24, 24, 0.8);
}

.call-button {
    fill: #ffffff;
}

.hamburger .line{
    background-color: #ffffff;
}


.menu-container {
    background-color: rgba(226, 88, 34, 0);

}

.menu-list-link {
    color: #ffffff;
}

.main {
    height: 100vh;
}

.main-container {
    padding: 0 5%;
    box-sizing: border-box
}

.hero-section {
    width: 100%;
    height: 100%;
    background-color: var(--colorBlack);
    overflow: hidden;
}

.main-text-block {
    margin: 0 auto;
    margin-bottom: 6vh;
    padding-top: 17vh;
    box-sizing: border-box;
}

.main-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.main-subtitle {
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.main-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.main-image-block {
    height: 200px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    box-sizing: border-box;
}

.main-fire {
    /* fill: #E05A26;
    opacity: 0.15; */
}

.main-fire-item {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%, -90%);
    fill: #E05A26;
    opacity: 0.15;
}

.main-fire-item:nth-child(1) {
    width: 24px; 
    height: 40px;
    animation: main-fire-1 1.2s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(2) {
    width: 46px;
    height: 68px;
}

.main-fire-item:nth-child(3) {
    width: 58px;
    height: 101px;
}

.main-fire-item:nth-child(4) {
    width: 71px;
    height: 111px;
    animation: main-fire-4 3s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(5) {
    width: 86px;
    height: 130px;
    animation: main-fire-5 1.8s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(6) {
    width: 97px;
    height: 150px;
    animation: main-fire-6 2s alternate ease-in-out infinite;
}

.main-fire-item:nth-child(7) {
    width: 108px;
    height: 178px;
    animation: main-fire-7 3s alternate ease-in-out infinite;
}

section {
    padding-top: 5vh;
    box-sizing: border-box;
}

.section-title {
    font-weight: 300;
    font-size: var(--font1);
    line-height: 27px;
    text-align: center;
    color: var(--colorBlack);
}

.section-title_white {
    color: #ffffff;
}

.section-text {
    margin-top: 2vh;
}

.section-text_white {
    color: #ffffff;
}

.section-text_center {
    margin: 0 auto;
    margin-top: 3vh;
    width: 80%;
}

.about-text-block {
    position: relative;
    text-align: center;
    padding-bottom: 5vh;
    box-sizing: border-box;
}

.about-svg-img {
    position: absolute;
    top: 30px;
    left: 10px;
    z-index: 0;
}

.about-numbers-block {
    text-align: center;
    background-color: var(--colorOrange);
    padding: 5vh 0;

    box-sizing: border-box;
}

.about-numbers {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 3vh;
    color: #ffffff;
}

.about-number {
    width: 35%;
}

.about-number-icon {
    font-size: 40px;
    line-height: 45px;
}

.create-section {
    position: relative;
    text-align: center;
    padding: 5vh 0;
    box-sizing: border-box;
}

.create-svg {
    position: absolute;
    top: 30px;
    right: 10px;
    z-index: 0;
}

.section-btn {
    margin-top: 4vh;
}

.section-btn-text {
    font-size: 16px;
    line-height: 18px;  
}

.section-btn-text_white {
    color: #ffffff;
}

.promote-section {
    text-align: center;
    padding: 5vh 0;
    box-sizing: border-box;
    background-color: var(--colorOrange);
}




@keyframes main-fire-4 {
    0% {
        width: 71px;
        height: 111px;
    }

    100% {
        width: 90px;
        height: 120px;

    }
}


@keyframes main-fire-5 {
    0% {
        width: 86px;
        height: 130px;
    }

    100% {
        width: 105px;
        height: 145px;

    }
}

@keyframes main-fire-6 {
    0% {
        width: 97px;
        height: 150px;
    }

    100% {
        width: 110px;
        height: 175px;

    }
}

@keyframes main-fire-7 {
    0% {
        width: 108px;
        height: 178px;
    }

    100% {
        width: 130px;
        height: 195px;

    }
}




/* 
.container {
    padding: 0 10px;
    box-sizing: border-box;
}

.background-video {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 1px;
    width: 100%;
    height: auto;
    z-index: 0;
    filter: brightness(0.3);
}

.header {
    z-index: 1000;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    z-index: 1000;
}

.logo-text {
    display: none;
}

.logo-mob {
    width: 45px;
    height: 45px;
    fill:#E25822;
    animation: fire 3.5s alternate ease-in-out infinite;
}

button {
    display: block;
    width: 50px;
    height: 50px;
}

.call-button {
    fill: #ffffff;
    width: 100%;
}

.menu-btn {
    display: block;
}

.hamburger .line{
    width: 50px;
    height: 5px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover{
    cursor: pointer;
}


#hamburger-6.is-active{
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#hamburger-6.is-active .line:nth-child(2){
    width: 0px;
}
  
#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
  
#hamburger-6.is-active .line:nth-child(1){
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
}
  
#hamburger-6.is-active .line:nth-child(3){
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}


.menu-container {
    display: none;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100vh;
    left: 0;
    z-index: 990;
    background-color: rgba(225, 225, 225, 0);
    transition: 0.3s;

}

.menu-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.menu-list-item {
    position: relative;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.menu-list-link {
    display: block;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 45px;
    /* top: 50%; */
    /* transform: translate(-50%, -50%);
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    color: #000000;
    transition: 0.5s;
}

.main {
    position: relative;
    z-index: 10;
    width: 100%;
    height: 100vh;
    padding-top: 90px;
    box-sizing: border-box;
}

.hero-section {
    text-align: center;
    padding: 50px 20px 0;
    box-sizing: border-box;
    transition: 0.7s;
}

.hero-title {
    font-weight: 300;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    color: #FFFFFF;
    backdrop-filter: blur(4px);
    margin-bottom: 20px;
}

.hero-subtitle {
    display: block;
    width: 225px;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    margin-bottom: 30px;
}

.hero-description {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

.hero-pics {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.hero-baloon {
    position: absolute;
    top: 400px;
    left: 10px;
    fill: #ffffff;
    stroke: #ffffff;
    width: 166px;
    height: 230px;
    z-index: 20;
    transition: 1.5s;
    animation: baloon 1.2s alternate ease-in-out infinite;
}

.hero-lighthouse {
    position: absolute;
    top: 120px;
    left: 110%;
    fill: #ffffff;
    stroke: #ffffff;
    width: 184px;
    height: 284px;
    z-index: 10;
    transition: 1.3s;
}

.hero-light {
    fill:#E25822;
    animation: fire 1.5s alternate ease-in-out infinite;
}


.hero-line {
    position: absolute;
    right: 375px;
    top: 652px;
    width: 375px;
    z-index: 5;
    border-bottom: 1px solid #ffffff;
    transition: 1.5s;
    animation: sea 1.5s alternate ease-in-out infinite;
    background-color: #fff;
    height: 30px;
}



@keyframes baloon {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translateY(8px);

    }
}

@keyframes fire {
    0% {
        fill: #E25822;
    }

    25% {
        fill: #e04204;
    }
    
    50% {
        fill: #c43903;
    }

    75% {
        fill: #e04204;
    }

    100% {
        fill: #d66336;
    }


} */



/* page */


